<ion-view view-title="About" hide-back-button="true">
   <ion-content class="post-content" padding="20">
    <h4 class="text-white">
      <strong>SearchTube.com</strong> is "<strong>A Video Search Directory</strong>".
    </h4>
    <h4 class="text-white">
      <strong>SearchTube.com</strong> is owned and operated by <strong>World Wide Broadcast Network, Inc</strong>.
    </h4>
    <h4 class="text-white">About Us</h4>
    <p class="text-white">
      World Wide Broadcast Network, Inc. (WWBN<sup><small>TM</small></sup>) is the developer of the World Wide Broadcast Network Platform System (WWBNPS). WWBN provides the platform for a seamless integration with our clients, customers and partners. WWBN provides companies with a suite of video and broadcast solutions that enable companies to leverage the latest multimedia technologies; WWBN also enable companies to distribute content across other networks; earn new online revenues and provide new services to themselves and their advertisers. Thus revenues are not only enhanced, but operation costs for online services are significantly reduced.
    </p>
    <h4 class="text-white">Turnkey Products</h4>
    <p class="text-white">
      WWBNs product suite comes pre-programmed with search, local-search, ad placement and broadcast distribution technology that allows companies to effectively serve their local customer base, as well as reaching national and global audiences. We offer the technological tools and solutions that allows our customers and partners to integrate content delivery, ad serving, targeting and audience analytics technologies, allowing our partners to increase operations efficiency while making available a consolidated, comprehensive view of visitors interaction. Consequently, our customers and partners market strategies can be fine-tuned and designed with surgical precision based on the segmented statistical customer information that WWBN makes immediately available.
    </p>
   </ion-content>
</ion-view>
