<ion-view view-title="Results for {{searchitem}}">
    <ion-content class="post-content">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <div class="list card" ng-repeat="feed in feeds" ng-click="storeToServiceVariable({{feed}})">
            <div class="item item-thumbnail-left">
                <img ng-if="feed.adimage!=''" ng-src="{{feed.adimage}}" onerror="this.src='img/bg-pane-1.jpg'"></img>
                <img ng-if="feed.adimage==''" ng-src="{{feed.thumbnail}}" onerror="this.src='img/bg-pane-1.jpg'"></img>
                <a>
                    <h2>{{feed.title | htmlToPlaintext}}</h2>
                    <p>{{feed.description | htmlToPlaintext}}{{feed.description.length > 57 ? '...' : ''}}</p>
                </a>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item">
                    <i class="icon ion-ios-cloud-outline"></i>
                    FROM
                    {{feed.network | uppercase}}
                </a>
                <a class="tab-item">
                    <i class="icon ion-ios-film-outline"></i>
                    PLAY VIDEO NOW
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </div>
        </div>
        <ion-infinite-scroll icon="none" ng-if="postsCompleted == false" on-infinite="getFeeds()" distance="10%"></ion-infinite-scroll>
        <div ng-show="feeds.length > 0">No items found</div>
    </ion-content>
    <ion-footer-bar class="item-input-inset bar-assertive">

      <h5 class="text-white pull-left">SEARCHTUBE APP</h5>
      <button ng-click="openModalSettings()" class="button pull-right">Search Settings</button>
    </ion-footer-bar>
</ion-view>

<script id="search-settings.html" type="text/ng-template">
    <ion-modal-view class="grey_bg">
        <ion-nav-bar class="bar-assertive">
            <ion-nav-title>
              Search Settings
            </ion-nav-title>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-close-empty" ng-click="closeModalSettings()"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-content class="has-header">
          <ul class="list">
              <li class="item item-toggle">
              	  Use this settings for all searches
                 <label class="toggle toggle-balanced">
                   <input name="globalset" ng-true-value="true" ng-false-value="false" ng-model="searchsettings.globalset" type="checkbox">
                   <div class="track">
                     <div class="handle"></div>
                   </div>
                 </label>
              </li>

              <div class="item item-divider">SORT BASED ON WHAT FIELD</div>
              <ion-radio ng-model="searchsettings.sortfield" name="sortfield" ng-value="'matchcount'">Match Tags</ion-radio>
              <ion-radio ng-model="searchsettings.sortfield" name="sortfield" ng-value="'title'">Title</ion-radio>
              <ion-radio ng-model="searchsettings.sortfield" name="sortfield" ng-value="'field1'">Channel</ion-radio>
              <ion-radio ng-model="searchsettings.sortfield" name="sortfield" ng-value="'description1'">Date Published</ion-radio>

              <div class="item item-divider">SELECT SOURCE OF FEEDS</div>
              <ion-radio ng-model="searchsettings.sortnetwork" name="sortnetwork" ng-value="'all'">All Networks</ion-radio>
              <ion-radio ng-model="searchsettings.sortnetwork" name="sortnetwork" ng-value="'YouTube.V3'">Youtube Only</ion-radio>
              <ion-radio ng-model="searchsettings.sortnetwork" name="sortnetwork" ng-value="'dailymotion'">Dailymotion Only</ion-radio>
              <ion-radio ng-model="searchsettings.sortnetwork" name="sortnetwork" ng-value="'vimeo'">Vimeo Only</ion-radio>

              <div class="item item-divider">SORTING ORDER </div>
              <ion-radio ng-model="searchsettings.sortdirection" name="sortdirection" ng-value="'asc'">Ascending</ion-radio>
              <ion-radio ng-model="searchsettings.sortdirection" name="sortdirection" ng-value="'desc'">Descending</ion-radio>
          </ul>
        </ion-content>
    </ion-modal-view>
</script>
