<ion-view view-title="Contact" class="grey_bg" hide-back-button="true">
  	<ion-content padding="10">
      <div class="list">
      	<form method="post" ng-submit="submitForm(postForm.$valid)" name="postForm" novalidate>
        		<label class="item item-input item-stacked-label light-bg">
              <span class="input-label">Full Name </span>
            	<input required ng-model="user.name" name="name" type="text" placeholder="John Doe">
            	<span ng-message class="warning-message-normal" ng-show="postForm.name.$invalid && postForm.name.$dirty">Required</span>
        		</label>
            <div class="item item-input item-select">
              <div class="input-label">
                Subject
              </div>
              <select name="subject" ng-model="user.subject">
                <option value="Partner Inquiries">Partner Inquiries</option>
                <option value="Licensing Inquiries">Licensing Inquiries</option>
                <option value="General Inquiries">General Inquiries</option>
              </select>
            </div>
            <label class="item item-input item-stacked-label light-bg">
              <span class="input-label">Telephone </span>
          		<input required type="text" ng-model="user.telephone" name="telephone" placeholder="090-012-9129" value="">
        		</label>
        		<label class="item item-input item-stacked-label light-bg">
              <span class="input-label">Email Address </span>
          		<input required type="email" ng-model="user.email" name="email" placeholder="sample@email.com" value="">
        		</label>
        		<span ng-message class="item item-input warning-message-normal" ng-show="postForm.email.$error.required && postForm.email.$dirty">Required</span>
        		<span ng-message class="item item-input warning-message-normal" ng-show="postForm.email.$error.email && postForm.email.$dirty">This is not a valid email.</span>
        		<label class="item item-input item-stacked-label light-bg">
              <span class="input-label">Message </span>
            	<textarea rows="4" required ng-model="user.details" name="details" placeholder="Tell us what you think"></textarea>
            	<span ng-message class="warning-message-normal" ng-show="postForm.details.$invalid && postForm.details.$dirty">Required</span>
        		</label>
        		<button class="button button-block button-assertive">
          		Submit
        		</button>
        	</form>
      </div>
  </ion-content>
</ion-view>
