<ion-view view-title="Slider" class="grey_bg" hide-nav-bar="true">
	<ion-content padding="true" has-header="true">
  		<ion-slide-box on-slide-changed="slideChanged(index)">
    		<ion-slide>
            <div id="logo">
              <img src="img/logomain.png">
            </div>
            <p>
             Thank you for using the SearchTube App. We've worked hard to bring you this. SearchTube is "A Video Search Directory".
            </p>
    		</ion-slide>
    		<ion-slide>
            <div id="logo">
              <img src="img/logomain.png">
            </div>
            <p>
              Video searching across video hosting sites made easy by category or keyword. We'll show you a list of videos from different video sites.
            </p>
    		</ion-slide>
       	<ion-slide>
            <div id="logo">
              <img src="img/logomain.png">
            </div>
            <p>
              Search for categories, keywords, similar channel videos, similar videos from different video sites, similar videos from chosen video site made easy.
            </p>
            <p>
            	<button ng-click="discardIntroPage();" class="button button-assertive">Continue to app</button>
         	</p>
    		</ion-slide>
  		</ion-slide-box>
  	</ion-content>
</ion-view>
