<ion-view view-title="Login" class="grey_bg" hide-back-button="true">
    <ion-content padding="10">
        <div class="list">
            <p class="form_logo">
                <img title="" alt="" src="../img/logomain.png" class="">
            </p>
            <form>
                <label class="item item-input">
                    <i class="icon ion-person placeholder-icon"></i>
                    <input type="text" name="username" ng-model="loginFormData.username" placeholder="Username">
                </label>
                <label class="item item-input">
                    <i class="icon ion-lock-combination placeholder-icon"></i>
                    <input type="password" name="password" ng-model="loginFormData.password" placeholder="Password">
                </label>

                <a ng-href="#/app/forgot" class="button button-clear button-block button-assertive">
                    Forgot Password?
                </a>
                <button type="submit" ng-click="doLogin()" class="button button-block button-assertive">
                    LOGIN
                </button>
            </form>
            <button type="button" class="button button-clear button-block">
                Don't have an account?
            </button>
            <a ng-href="#/app/signup" class="button button-clear button-block button-assertive">
                Create Account
            </a>
        </div>

    </ion-content>
</ion-view>
