<ion-view view-title="{{listing_channel | decodeChars}}" hide-back-button="false">
    <ion-content autoscroll="true">
        <div class="list card">
            <div class="item item-image video-container">
                <iframe scrolling="no" ng-src="{{listing_videourl}}" frameborder="0" allowfullscreen mozallowfullscreen webkitallowfullscreen seamless></iframe>
            </div>
            <div class="item">
                <div class="button-bar bar-stable">
                    <button ng-click="shareMain()" class="button">
                        <i class="icon ion-share"></i>
                    </button>
                    <button ng-click="openBrowser()" class="button">
                        <i class="icon ion-link"></i>
                    </button>
                    <button ng-click="showToast()" class="button">
                        <i class="icon ion-bookmark"></i>
                    </button>
                    <button ng-click="openModal(5)" class="button button-small button-balanced">
                        <i class="icon ion-person"></i>
                    </button>
                </div>
            </div>
            <div class="item item-body">
                <h2 class="post-title-custom">{{listing_title | decodeChars}}</h2>
                <p>{{listing_site}}
                    -
                    {{listing_channel | decodeChars}}</p>

                <div class="description-content">{{listing_description | decodeChars}}</div>
                <div class="description-content" ng-if="listing_description == ''">No description available</div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="item-input-inset bar-dark">
        <div class="button-bar button-small">
            <button ng-click="openModal(1)" class="button button-small button-assertive">
                <i class="icon ion-grid"></i>
            </button>
            <button ng-click="openModal(2)" class="button button-small button-assertive">
                <i class="icon ion-network"></i>
            </button>
            <button ng-click="openModal(3)" class="button button-small button-assertive">
                <i class="icon ion-cube"></i>
            </button>
            <button ng-click="openModal(4)" class="button button-small button-assertive">
                <i class="icon ion-ios-clock"></i>
            </button>
            <button menu-toggle="right" class="button button-small button-assertive">
                <i class="icon ion-android-search"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>

<!---------------- Start of Modal Codes ---------------------->
<script id="more-allnetwork-modal.html" type="text/ng-template">
    <ion-modal-view class="grey_bg">
        <ion-nav-bar class="bar-assertive">
            <ion-nav-title>
                <span class="nav-bar-titlemain">MORE LIKE THIS ALL NETWORKS</span>
            </ion-nav-title>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-close-empty" ng-click="closeModal(1)"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-content class="has-header">
            <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefreshAll()"></ion-refresher>
            <div class="list card" ng-repeat="feedMore in feedsMoreLikeThis" ng-click="storeToServiceVariable({{feedMore}})">
                <div class="item item-thumbnail-left">
                    <img ng-src="{{feedMore.adimage}}"></img>
                    <a href="#/app/post">
                        <h2>{{feedMore.title | htmlToPlaintext}}</h2>
                        <p>{{feedMore.description | htmlToPlaintext}}{{feedMore.description.length > 57 ? '...' : ''}}</p>
                    </a>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item">
                        <i class="icon ion-ios-cloud-outline"></i>
                        FROM
                        {{feedMore.network | uppercase}}
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-ios-film-outline"></i>
                        PLAY VIDEO NOW
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>
                </div>
            </div>
            <ion-infinite-scroll ng-if="postsCompletedMoreLikeThis == false" on-infinite="moreLikeThis()" distance="10%"></ion-infinite-scroll>
            <div ng-if="feedsMoreLikeThis == null">
                <h4 class="text-white title text-center">No similar videos found on different network. Narrow your searches by typing keywords to search.</h4>
            </div>
        </ion-content>
    </ion-modal-view>
</script>
<script id="more-currentnetwork-modal.html" type="text/ng-template">
    <ion-modal-view class="grey_bg">
        <ion-nav-bar class="bar-assertive">
            <ion-nav-title>
                <span class="nav-bar-titlemain">MORE LIKE THIS FROM
                    {{listing_site | uppercase}}</span>
            </ion-nav-title>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-close-empty" ng-click="closeModal(2)"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-content class="has-header">
            <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefreshAll()"></ion-refresher>
            <div class="list card" ng-repeat="feedMoreNetwork in feedsMoreLikeThisNetwork" ng-click="storeToServiceVariable({{feedMoreNetwork}})">
                <div class="item item-thumbnail-left">
                    <img ng-src="{{feedMoreNetwork.adimage}}"></img>
                    <a href="#/app/post">
                        <h2>{{feedMoreNetwork.title | htmlToPlaintext}}</h2>
                        <p>{{feedMoreNetwork.description | htmlToPlaintext}}{{feedMoreNetwork.description.length > 57 ? '...' : ''}}</p>
                    </a>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item">
                        <i class="icon ion-ios-cloud-outline"></i>
                        FROM
                        {{feedMoreNetwork.network | uppercase}}
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-ios-film-outline"></i>
                        PLAY VIDEO NOW
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>
                </div>
            </div>
            <ion-infinite-scroll ng-if="postsCompletedMoreLikeThisNetwork == false" on-infinite="moreLikeThisNetwork()" distance="10%"></ion-infinite-scroll>
            <div ng-if="feedsMoreLikeThisNetwork == null">
                <h4 class="text-white title text-center">No similar videos found on this network. Narrow your searches by typing keywords to search.</h4>
            </div>
        </ion-content>
    </ion-modal-view>
</script>
<script id="more-channel-modal.html" type="text/ng-template">
    <ion-modal-view class="grey_bg">
        <ion-nav-bar class="bar-assertive">
            <ion-nav-title>
                <span class="nav-bar-titlemain">MORE VIDEOS FROM
                    {{listing_channel | uppercase}}</span>
            </ion-nav-title>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-close-empty" ng-click="closeModal(3)"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-content class="has-header">
            <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefreshAll()"></ion-refresher>
            <div class="list card" ng-repeat="feedMoreChannel in feedsMoreLikeThisChannel" ng-click="storeToServiceVariable({{feedMoreChannel}})">
                <div class="item item-thumbnail-left">
                    <img ng-src="{{feedMoreChannel.adimage}}"></img>
                    <a href="#/app/post">
                        <h2>{{feedMoreChannel.title | htmlToPlaintext}}</h2>
                        <p>{{feedMoreChannel.description | htmlToPlaintext}}{{feedMoreChannel.description.length > 57 ? '...' : ''}}</p>
                    </a>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item">
                        <i class="icon ion-ios-cloud-outline"></i>
                        FROM
                        {{feedMoreChannel.network | uppercase}}
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-ios-film-outline"></i>
                        PLAY VIDEO NOW
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>
                </div>
            </div>
            <ion-infinite-scroll ng-if="postsCompletedMoreLikeThisChannel == false" on-infinite="moreLikeThisChannel()" distance="10%"></ion-infinite-scroll>
            <div ng-if="feedsMoreLikeThisChannel == null">
                <h4 class="text-white title text-center">No more feeds from this channel. Narrow your searches by typing keywords to search.</h4>
            </div>
        </ion-content>
    </ion-modal-view>
</script>
<script id="more-recent-modal.html" type="text/ng-template">
    <ion-modal-view class="grey_bg">
        <ion-nav-bar class="bar-assertive">
            <ion-nav-title>
                RECENT SEARCHES
            </ion-nav-title>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-close-empty" ng-click="closeModal(4)"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-content autoscroll="true" class="has-header padding">
            <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefreshAll()"></ion-refresher>
            <div class="list card" ng-repeat="feedRecent in feedsMoreLikeThisRecent" ng-click="storeToServiceVariable({{feedRecent}})">
                <div class="item item-thumbnail-left">
                    <img ng-src="{{feedRecent.adimage}}"></img>
                    <a href="#/app/post">
                        <h2>{{feedRecent.title | htmlToPlaintext}}</h2>
                        <p>{{feedRecent.description | htmlToPlaintext}}{{feedRecent.description.length > 57 ? '...' : ''}}</p>
                    </a>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item">
                        <i class="icon ion-ios-cloud-outline"></i>
                        FROM
                        {{feedRecent.network | uppercase}}
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-ios-film-outline"></i>
                        PLAY VIDEO NOW
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>
                </div>
            </div>
            <ion-infinite-scroll ng-if="postsCompletedMoreLikeThisRecent == false" on-infinite="moreLikeThisRecent()" distance="10%"></ion-infinite-scroll>
            <div ng-if="feedsMoreLikeThisRecent == null">
                <h4 class="text-white title text-center">No recent search found. Narrow your searches by typing keywords to search.</h4>
            </div>
        </ion-content>
    </ion-modal-view>
</script>
<script id="own-channel-modal.html" type="text/ng-template">
    <ion-modal-view class="grey_bg">
        <form name="owningForm" novalidate="">
        <ion-nav-bar align-title="center" class="bar-balanced">
            <ion-nav-title>
                Own this Channel
            </ion-nav-title>
            <ion-nav-buttons side="left">
                <button ng-disabled="owningForm.$invalid" class="button button-icon button-clear ion-android-done" ng-click="ownThisChannel()"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-close" ng-click="closeModal(5)"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-content class="has-header" delegate-handle="mainScroll">
            <div class="list item-text-wrap">
                <div class="item item-divider">
                    User Contact Information
                </div>
                <label class="item item-input">
                    <input required ng-model="user.contact_name" name="contact_name" type="text" placeholder="Complete Name">
                </label>
                <div ng-show="owningForm.contact_name.$error.required" class="item">
                    <p><i class="ion-information-circled"></i> Contact name is required</p>
                </div>
                <label class="item item-input">
                    <input required type="email" ng-model="user.contact_email" name="contact_email" placeholder="Email Address" value="">
                </label>
                <div ng-show="owningForm.contact_email.$error.required || (owningForm.contact_email.$invalid && !owningForm.contact_email.$pristine)" class="item">
                    <p ng-show="owningForm.contact_email.$error.required"><i class="ion-information-circled"></i> Contact email is required</p>
                    <p ng-show="owningForm.contact_email.$invalid && !owningForm.contact_email.$pristine"><i class="ion-information-circled"></i>Please enter a valid email</p>
                </div>
                <label class="item item-input">
                    <input type="text" ng-model="user.contact_jobtitle" name="contact_jobtitle" placeholder="Job Title" value="">
                </label>
                <label class="item item-input">
                    <input required type="text" ng-model="user.contact_phonenumber" name="contact_phonenumber" placeholder="Phone Number" value="">
                </label>
                <div ng-show="owningForm.contact_phonenumber.$error.required" class="item">
                    <p><i class="ion-information-circled"></i> Phone number is required</p>
                </div>
                <label class="item item-input">
                    <input required type="text" ng-model="user.contact_mobilenumber" name="contact_mobilenumber" placeholder="Mobile Number" value="">
                </label>
                <div ng-show="owningForm.contact_mobilenumber.$error.required" class="item">
                    <p><i class="ion-information-circled"></i> Mobile number is required</p>
                </div>
                <div class="item item-divider">
                    Channel Information
                </div>
                <label class="item item-input">
                    <input readonly ng-model="user.company_name" name="company_name" type="text" placeholder="Company Name" value="{{user.company_name}}">
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="user.company_addressline1" name="company_addressline1" placeholder="Number/Building/Street" value="">
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="user.company_city" name="company_city" placeholder="City" value="">
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="user.company_state" name="company_state" placeholder="State" value="">
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="user.company_zip" name="company_zip" placeholder="Zipcode" value="">
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="user.company_phonenumber" name="company_phonenumber" placeholder="Phone Number" value="">
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="user.company_faxnumber" name="company_faxnumber" placeholder="Fax Number" value="">
                </label>
                <label class="item item-input">
                    <input required type="url" ng-model="user.company_website" name="company_website" placeholder="Website URL [e.g. http://samplewebsite.com] *" value="">
                </label>
                <div ng-show="owningForm.company_website.$error.required || (owningForm.company_website.$invalid && !owningForm.company_website.$pristine)" class="item">
                    <p ng-show="owningForm.company_website.$error.required"><i class="ion-information-circled"></i> Website URL is required</p>
                    <p ng-show="owningForm.company_website.$invalid && !owningForm.company_website.$pristine"><i class="ion-information-circled"></i> Please enter a valid url e.g. http://sample.com</p>
                </div>
                <label class="item item-input">
                    <input type="email" ng-model="user.company_email" name="company_email" placeholder="Company Email Address" value="">
                </label>
                <div class="item item-divider">
                    Channel Information
                </div>
                <label class="item item-input">
                    <textarea ng-model="user.categories" name="categories" type="text" placeholder="Suggested Categories"></textarea>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Primary contact info for verification? *
                    </div>
                    <select required ng-model="user.company_verused" name="company_verused">
                        <option value="Email">Email Verification</option>
                        <option value="Regular Mail">Regular Mail Verification</option>
                        <option value="Phone">Phone Verification</option>
                    </select>
                </label>
                <div ng-show="owningForm.company_verused.$error.required" class="item">
                    <p><i class="ion-information-circled"></i> Please choose type of account verification to use</p>
                </div>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Video is available for this company? *
                    </div>
                    <select ng-change="showChoices()" ng-model="user.company_videoready" name="company_videoready">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </label>
                <label ng-if="showme == true" class="item item-input item-select">
                    <div class="input-label">
                        Where is it hosted? *
                    </div>
                    <select ng-change="showHosting()" ng-model="user.hosting" name="hosting">
                        <option value="None">None</option>
                        <option value="Youtube">Youtube</option>
                        <option value="Vimeo">Vimeo</option>
                        <option value="Dailymotion">Dailymotion</option>
                        <option value="Other">Other</option>
                    </select>
                </label>
                <ion-checkbox style="" ng-if="showme == false" ng-model="user.createvid" ng-true-value="'Yes'" ng-false-value="'No'" name="createvid">Would you like to create a video?</ion-checkbox>
                <ion-checkbox style="white-space:normal;" ng-if="showmetoo == true" ng-model="user.wehostvideo" ng-true-value="'Yes'" ng-false-value="'No'" name="wehostvideo">Would you like to upload the video and host on our CDN? *</ion-checkbox>
                <label ng-if="showmetoo == false" class="item item-input">
                    <input ng-model="user.hostingsite" name="hostingsite" type="text" placeholder="Other Hosting Site URL/Name" value="">
                </label>
            </div>
        </ion-content>
        </form>
    </ion-modal-view>
</script>
