<ion-side-menus enable-menu-with-back-views="true" ng-controller="MainCtrl">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive" align-title="left">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-arrow-left-c"></i>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-android-menu" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-albums" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content>
            <ion-list>
                <ion-item menu-close-keep-history href="#/app/vsearch" class="item-icon-left grey_bg">
                    <i class="icon ion-ios-home-outline"></i>
                    Home
                </ion-item>
                <ion-item menu-close-keep-history href="#/app/about" class="item-icon-left">
                    <i class="icon ion-ios-help-outline"></i>
                    About Us
                </ion-item>
                <ion-item menu-close-keep-history href="#/app/contact" class="item-icon-left">
                    <i class="icon ion-ios-email-outline"></i>
                    Contact Us
                </ion-item>
                <ion-item menu-close-keep-history href="#/app/later" class="item-icon-left">
                    <i class="icon ion-ios-time-outline"></i>
                    Watch Later
                </ion-item>
                <ion-item menu-close-keep-history ng-show="hideMe == true" ng-click="logOut()" href="#/app/vsearch" class="item-icon-left">
                    <i class="icon ion-ios-unlocked-outline"></i>
                    Logout
                </ion-item>
                <ion-item menu-close-keep-history ng-show="hideMe == false" href="#/app/signup" class="item-icon-left">
                    <i class="icon ion-ios-personadd-outline"></i>
                    Signup
                </ion-item>
                <ion-item menu-close-keep-history ng-show="hideMe == false" href="#/app/login" class="item-icon-left">
                    <i class="icon ion-ios-unlocked-outline"></i>
                    Login
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
    <ion-side-menu side="right">
        <ion-content class="">
            <div class="list list-inset">
                <div class="item item-divider item-icon-right">
                    <i class="icon ion-ios-color-wand-outline"></i>
                    Quick Search
                </div>
                <form ng-submit="SearchItemForm()" handle-phone-submit>
                  <label class="item item-input">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="text" ng-model="searchitem" placeholder="Type here and press enter">
                  </label>
                </form>
            </div>
            <ion-list>
              <div ng-repeat="group in groups">
                <ion-item class="item-stable"
                          ng-click="toggleGroup(group)"
                          ng-class="{active: isGroupShown(group)}">
                    <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                  &nbsp;
                  {{group.name}} Categories
                </ion-item>
                <ion-item menu-close-keep-history class="item-accordion"
                          ng-repeat="item in group.items"
                          ng-show="isGroupShown(group)"
                          ng-click="ItemToSearchContainer(item.category_name)"
                          href="#/app/blog">
                  {{item.category_name}}
                </ion-item>
              </div>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
