<ion-view view-title="Feeds Categories" hide-back-button="false">
    <ion-content has-header="true">
        <div class="list">
            <a class="item subcats item-icon-left item-icon-right" ng-repeat="sub in subs" ng-click="ItemToSearchContainer(sub.category_name)" href="#/app/blog">
                <i class="icon ion-ios-albums-outline"></i>
                {{sub.category_name}}
                <i class="icon ion-ios-arrow-thin-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
