<ion-view view-title="Videos">
    <ion-content class="post-content gallery-top">

        <div class="list card" ng-repeat="item in items">
            <div class="item">
                <h2>{{item.title}}</h2>
            </div>
            <div class="item item-image video-container">
                <iframe ng-src="{{videoEmbed(item.video)}}"></iframe>
            </div>
        </div>

    </ion-content>
</ion-view>
