<ion-view view-title="Home" class="dark-bg" hide-back-button="true">
    <ion-content padding="10">
        <div class="list">
            <p class="form_logo">
                <img title="" alt="" src="img/logomain.png" class="">
            </p>
            <form ng-submit="SearchItemForm()" handle-phone-submit>
                <label class="item item-input">
                    <input type="text" ng-model="searchitem" class="text-center" placeholder="What do you want to search?">
                </label>
                <button type="submit" class="button button-block button-assertive">
                    SEARCH NOW
                </button>
            </form>
            <button menu-toggle="right" class="button button-block button-small button-outline button-light">
                LET ME CHOOSE A CATEGORY
            </button>
        </div>
        <div class="list list-inset" ng-hide="searchedItemContainer" ng-if="searchItemsStored !== undefined">
          <div class="item item-divider item-icon-right">
            Previous Searches
            <i class="icon ion-ios-trash-outline" ng-click="resetSearchedItems()"></i>
          </div>
          <a class="item" ng-click="SearchItemAgain(searchItems)" ng-if="$index === searchItemsStored.indexOf(searchItems)" ng-repeat="searchItems in searchItemsStored track by $index | limitTo:4">
            {{searchItems}}
            <span class="item-note">
              Search Again
            </span>
          </a>
        </div>

    </ion-content>
</ion-view>
