<ion-view view-title="Watch Later" hide-back-button="true">
    <ion-content class="post-content">
        <div class="list card" ng-repeat="watchfeed in watchlaterfeeds" ng-click="storeToServiceVariable({{watchfeed}})">
            <div class="item item-thumbnail-left">
                <img ng-if="watchfeed.adimage!=''" ng-src="{{watchfeed.adimage}}" onerror="this.src='img/bg-pane-1.jpg'"></img>
                <img ng-if="watchfeed.adimage==''" ng-src="{{watchfeed.thumbnail}}" onerror="this.src='img/bg-pane-1.jpg'"></img>
                <a href="#/app/post">
                    <h2>{{watchfeed.title | decodeChars}}</h2>
                    <p>{{watchfeed.description | htmlToPlaintext}}{{watchfeed.description.length > 57 ? '...' : ''}}</p>
                </a>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item active">
                    <i class="icon ion-ios-cloud-outline"></i>
                    {{watchfeed.network | uppercase}}
                </a>
                <a ng-click="removeThisListing({{watchfeed}})" class="tab-item">
                    <i class="icon ion-ios-trash-outline"></i>
                    REMOVE
                </a>
                <a href="#/app/post" class="tab-item">
                    <i class="icon ion-ios-film-outline"></i>
                    WATCH NOW
                </a>
            </div>
        </div>
        <div ng-hide="watchlaterfeeds.length"><h4 class="text-center text-white">No videos found on playlist</h4></div>
    </ion-content>
</ion-view>
