/* importing fonts */
@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Italic.ttf");
  font-style:italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../font/SourceSansPro-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-LightItalic.ttf");
  font-weight: 300;
  font-style:italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-BoldItalic.ttf");
  font-weight: 600;
  font-style:italic;
}

@font-face {
  font-family: "Passion One";
  src: url("../font/PassionOne-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Biryani Heavy";
  src: url("../font/Biryani-Heavy.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Skranji Regular";
  src: url("../font/Skranji-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Thin";
  src: url("../font/Roboto-Thin.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../font/Roboto-Medium.ttf");
  font-weight: 400;
}
/* basic css reset */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .button, input, textarea {
	font-family: 'Source Sans Pro', sans-serif;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%; height:auto;
}
.card {
	margin:10px !important;
}
.screen{
   position:relative;
 }
 .screen img{
   display: inherit;
 }
 .screen .item{
   position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  border: 0;
  background: rgba(255,255,255, 0.6);
 }
 .item-home{
 	padding:10px !important;
 }
 .screen h1{
 	color:#222;
	text-align:center;
 }
 /* Home feed page style */
 .item-home{
	 background-color: #f8f8f8;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    background-size: 0 auto;
    border-color: #b2b2b2;
    border-style: solid;
    border-top: 1px solid #b2b2b2;
	  background-color: #ef473a;
    background-image: linear-gradient(0deg, #e42012, #e42012 50%, transparent 50%);
    border-color: #e42012;
    color: #fff;
 }
 .item-home .icon{
	 color:#fff;
 }
 .item-home h2{
	 color:#fff;
 }
 .grey_bg{
 	background:#263239;
 }
 /* logo styles */
.form_logo {
    margin: 30px 0;
    opacity: 0.5;
    text-align: center;
    width: 100%;
}
.form_logo img {
    display: inline-block;
    margin: auto;
    max-width: 50%;
}
.nav-logo{
	height:32px;
}
/* gallery styles */
.gallery-small{
	padding:0 !important;
	border:none !important;
}
.gallery-top{
	padding-top:5px !important;
}
/*full screen images*/
.transparent {
  background: #222 !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
/* video container */

.video-container {
	  height: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch !important;
    padding-bottom: 56.25%;
    +
    padding-top: 30px;
    position: relative;
}
.video-container iframe {
	  height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.post-content-home{
	margin-bottom:44px;
}
/* profile page */
#content {
   background-color: #fff;
   box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.4);
   position: relative;
	height:260px;
}

#profile-info {
 	box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
	 background-image:url(http://1.bp.blogspot.com/-IMsTheNxIqo/VYGjyM2hLiI/AAAAAAAAA1g/ZQO2uRgQSU4/s800/cappadocia-805624_1280.jpg);
	 background-repeat:no-repeat;

}
#profile-name {
  color: #444;
  font-size: 26px;
}
#profile-description {
  font-size: 15px;
  color: #fff;
}
#profile-description a {
  color: #fff;
}

#profile-image {
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 128px;
  height: 128px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}
/* sidebar profile and image */
.main-sidebar-profile {
   background-color: #fff;
   box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.4);
   position: relative;
	height:200px;
}

.profile-info {
 	box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
	 background-image:url(http://1.bp.blogspot.com/-IMsTheNxIqo/VYGjyM2hLiI/AAAAAAAAA1g/ZQO2uRgQSU4/s350-h300-c/cappadocia-805624_1280.jpg);
	 background-repeat:no-repeat;

}
.profile-name {
  color: #fff;
  font-size: 26px;
  margin-top:20px;
}
.profile-image {
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 100px;
  height: 100px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}
/* style slider */
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #fff;
  text-align: center;
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}
.slider p{
	margin-bottom:60px;
}
c
.message {
  font-size: 14px;

}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.message-wrapper {
  position: relative;
}
.disable-user-behavior {
    -moz-user-select: none;
}
.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 4px 8px;
  position: relative;
  margin: 10px;
  max-width: 80%;
  min-width: 60%;
}


.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  text-align: left;
}
.chat-bubble a{
	text-decoration:underline;
}
.chat-bubble.right a{
	text-decoration:underline;
	color:#fff !important;
}
.chat-bubble.right {
  background-color: #ef473a;
  color: #fff;
  float: right;
  margin-right: 10px;
  text-align: right;
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}
img.profile-pic.left {
    left: -45px;
}
img.profile-pic {
    bottom: 10px;
    height: 40px;
    position: absolute;
    width: 40px;
}
.post-content-message{
	margin-bottom:58px;
}
.comment-stable-main {
    height: 48px;
}
.comment-form-main {
    margin: 0;
    padding: 0;
    width: 100%;
}
.row-comment {
    margin: 0 5px;
    padding: 0;
}
.small-font {
    font-size: 13px;
}
.comment-div-label {
    margin: 0 10px 0 0;
}
.comment-main-text {
    height: 22px;
}
.button-comment {
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0;
    margin-top: 0 !important;
    width: 90% !important;
}
.post-wp img{
	max-width:100%;
	height:auto;
	margin:0px !important;
}
.post-wp iframe{
	width:100%;
	height:350px;
}
/* style products */
.product-section{
  margin:0 !important;
  width: 50%;
  float: left;
  padding: 10px;
}
.product-section .item-body{
  padding: 10px 0;
}
.product-section .item-body h2{
  margin-top:0px;
}
.big-price{
  font-size: 16px !important;
  font-weight: bold;
}


/* CUSTOMIZED CSS for SEARCHTUBE */
.text-white{
  color: #ffffff;
}
.bar .title.title-left {
	font-family: 'Roboto Medium';
	font-size: 16px;
}
.bar .title.title-left .nav-bar-titlemain{
  font-family: 'Open Sans', Helvetica, sans-serif;;
}
.bar .title.title-left .nav-bar-subtitle {
  position: absolute;
  left: 0;
  right: 0;
  top: -.7rem;
  font-size: .75rem;
  /* font-weight: normal; */
  font-family: 'Roboto Thin', Helvetica, sans-serif;
}
.menu-content .pane {
	background: rgba(0,0,0,0.2);
	background: url(../img/bg-pane-6.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.menu-content .pane .item.subcats {
	border-color: rgba(255,255,255,0.08);
	background: none;
	color: white;
}
.menu-left {
	background-color:#000;
}
.menu-left .list .item-icon-left {
	border: none !important;
}
.menu-left .list .item-icon-left .item-content {
	background-color: #000;
	color: white;
	clear: none;
	font-family: 'Biryani Heavy', Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 600;
}
.menu-left .list .item-icon-left .item-content .icon {
	color: #999;
}
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
    overflow: visible;
    text-overflow: none;
    white-space: normal;
}
.list .item.item-small {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: -4px;
    margin-bottom: -4px;
}
.list.card .item .description-content {
    font-family: 'Open Sans', Helvetica, sans-serif;
}
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.item h2.post-title-custom {
  font-family: 'Roboto Medium', Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
}
.list .item.item-accordion {
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
